.container{

    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulaire{

    background-color: azure ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 53vh;
    width: 25%;
    border-radius: 20px;
    background:linear-gradient(15deg,#a294c7,#393b65);
}
label{
    font-size: 19px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
input{
    width: 28vh;
    height: 30px;
    box-shadow: inset 0.1px 0.2px 0.3px 0.1px grey;
    border-radius: 18px;
}
button{
    margin-top: 15px;
    margin-left: 5vh;
    font-size: 19px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    border-radius: 20px;
    height: 50px;
    width: 20vh;
    
}